/* Styles for the rentals page */
.rentals-banner {
  background-image: url("../images/banner-rentals.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f4f4f4;
  padding: 100px;
  padding-bottom: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rentals-hero-banner h1,
.rentals-hero-banner h2 {
  color: #fff;
  margin-bottom: 10px;
}

.rentals-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.rentals-card p {
  margin-bottom: 10px;
}

/* Styles for the Max Rental Pricing section */
.max-rental-pricing {
  padding: 30px;
  text-align: center;
}

.max-rental-pricing h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
}

/* Styles for the pricing table */
#pricing-table-container {
  margin-top: 20px;
  overflow-x: auto;
}

.pricing-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.pricing-table th, .pricing-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.pricing-table th {
  background-color: #f2f2f2;
}

/* Add some hover effect to table rows */
.pricing-table tbody tr:hover {
  background-color: #f5f5f5;
}

@media screen and (max-width: 600px) {
  .rentals-banner {
    background-size: 500px;
    background-repeat:repeat;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 50px;
  }
  .rentals-hero-banner h1 {
    font-size: 18px;
  }

  .rentals-hero-banner h2 {
    font-size: 12px;
  }

  .max-rental-pricing { 
    font-size: 10px;
    padding: 15px;
  }

  .pricing-table th, .pricing-table td {
    padding: 5px;
  }
}