body {  
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #12486B;
  color: white;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

header p {
  margin: 0;
  font-style: italic;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align:center;
}

.card h2 {
  border-radius: 5px 5px 0 0;
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #419197;
  color: white;
  padding: 10px 0;
  margin: 0;
}

.card a {
  color: #1100ff;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

footer {
  background: #1C4D72;
  color: #fff;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 3;
}