/* Media query for medium screens */
@media screen and (max-width: 1024px) {
  /* Adjust the layout for the header */
  header {
    padding: 20px;
  }

  .nav-menu a {
    font-size: 16px;
  }

  .logo img {
    max-width: 80px;
  }

  /* Adjust the layout for the hero section */
  .hero {
    padding: 150px;
  }

  .hero-content h1 {
    font-size: 32px;
  }

  .hero-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .cta-button {
    padding: 8px 16px;
    font-size: 16px;
  }

  /* Adjust the layout for events and weather card */
  .events-weather {
    flex-direction: column;
  }

  .events {
    flex: 1;
    margin-bottom: 10px;
  }

  .weather-card {
    flex: 1;
    margin: 10px;
  }
}